<!DOCTYPE html>
<html lang="en" >
	
	<head>
		<link href='https://fonts.googleapis.com/css?family=Lato:400,300,100,300italic' rel='stylesheet' type='text/css'>
		<title>Colin Design Solutions</title>
	</head>
	
	<body>
		
		<header>	
			<nav>
				<div class="row">
					<img src="resources/img/Logo-white.png" class="logo">
					<ul class="nav-main">
						<li><a href="#">About</a></li>
						<li><a href="##">Past Projects</a></li>
						<li><a href="###">Contact</a></li>
					</ul>
				</div>				
			</nav>			
			<div class="header-box">			
				<h1>Clean. Efficient.<br>Design Solutions</h1>
				<a href="####" class="btn">Let's Get Started</a>
			</div>		
		</header>	
		
		<%= link_to 'about', about_path %>
		
	</body>
	
</html>
